@import '../../style/variables';
@import '../../style/mixins';

.footerContainer {
  background-color: $turquoise-color;
  display: flex;
  justify-content: space-between; // Separar las secciones
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
  position: relative;
  bottom: 0;
  color: $white-color;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 33%;
}

.logo {
  width: 12rem; // Tamaño ligeramente más pequeño para pantallas medianas
  height: auto;

}

.socialMedia {
  display: flex;
  gap: 1rem;
  width: 33%;
  justify-content: flex-end;

  @include media-breakpoint-down(md) {
    justify-content: center; // Centrar los íconos en pantallas pequeñas
    width: 100%;
  }
}

.socialLink {
  text-decoration: none;
  color: $white-color;
  font-size: 1.5rem;
  @include transition(color);

  &:hover {
    color: $white-color;
  }
}

.copyright {
  font-size: 1rem;
  text-align: center;
  width: 33%;

  @include media-breakpoint-down(md) {
    width: 100%; // Centrar en pantallas pequeñas
  }
}
