@import '../../style/variables';
@import '../../style/mixins';

.header {
    background-color: $turquoise-color;
    @include shadow($black-color, 0.2);

    .nav {
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8rem;

        .image {
            width: 100%;
            height: 5.5rem;
        }

        .navButton {
            font-family: var(--font-principal);
            background: none;
            border: none;
            font-size: 1.1rem;
            padding: 0.5rem;
            font-weight: 600;
            color: $white-color;
            margin: 1rem;
            letter-spacing: 0.1rem;

            &:hover {
                cursor: pointer;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    .modalContainer {
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.2);

        .closeButton {
            position: absolute;
            top: 1.2rem;
            right: 1.2rem;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 1001;
            color: $turquoise-color;
            font-size: 2.3rem;

            &:active {
                transform: scale(0.95);
            }
        }

        .formContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            top: 0;
            right: 0;
            width: 24rem;
            height: 100vh;
            background-color: $background-modal;
            z-index: 1000;
            padding: 0.7rem;
            transition: transform 0.5s ease-in-out;
        }

        .formContainer.hidden {
            transform: translateX(100%);
        }
    }

    @include mediaQuery(small) {
        .nav {
            width: 100%;
            height: 4.5rem;
            padding: 0;
            display: flex;
            align-items: center;

            .image {
                width: 93%;
                height: 2.7rem;
            }

            .navButton {
                font-size: 0.9rem;
                padding: 0;
                font-weight: 700;
                margin: 0.5rem;
                letter-spacing: 0;
            }
        }
    }
}
