@import '../../style/variables.scss';
@import '../../style/mixins.scss';


.cardHome {
    display: flex;
    flex-direction: column;
    background: $white-color;
    box-sizing: border-box;
    width: 28%;  
    height: 17rem;          
    margin: 2.5rem 1rem;
    padding: 2rem;
    @include border-radius(0.3rem);
    @include shadow($black-color, 0.2);

    .cardTitle {
        margin-top: 1.2rem;
        text-align: center;
        font-size: 1.5rem;
        color: $turquoise-color;
        letter-spacing: 0.05rem;
        font-weight: 800;
    }

    .cardText {
        text-align: justify;
        margin-top: 1rem;
        line-height: 1.2rem;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        font-weight: 300;
    }
}

@include mediaQuery(small) {
    .cardHome {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 17rem;
        margin: 2.5rem 1rem;

        .cardTitle {
            margin-top: 1rem;
        }
    }
}