@import '../../style/variables';
@import '../../style/mixins';

.swiperContainer {
  width: 70%;
  margin: 0 auto;
  height: 23rem;
  position: relative;

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white-color;
    border-radius: 0.5rem;
    padding: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    height: 13rem;
    margin: 3rem 0;
    @include shadow($black-color, 0.2);

    .cardLink {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 100%;
      text-decoration: none;


      .sliderImage {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}