@import '../../style/variables';
@import '../../style/mixins';

.formContainer {
    background-color: $background-modal;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    .title {
        margin-top: 1rem;
        text-align: center;
    }

    .image {
        width: 75%;
    }

    .contactForm {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .formElement {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .label {
                font-size: 0.9rem;
                letter-spacing: 0.01rem;
                text-align: left;
            }

            .input {
                font-family: var(--font-principal);
                padding: 0.7rem;
                @include border-radius(0.25rem);
                border: none;
                @include shadow($black-color, 0.1);
                font-size: 0.9rem;
                letter-spacing: 0.01rem;

                &:active,
                &:focus {
                    outline: none;
                }
            }
        }

        .contactButton {
            margin-top: 1rem;
            font-family: var(--font-principal);
            background: none;
            @include border-radius(0.25rem);
            width: 100%;
            padding: 0.7rem 2rem;
            background-color: $turquoise-color;
            border: none;
            @include shadow($black-color, 0.1);
            cursor: pointer;
            color: $white-color;
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 0.05rem;

            &:active {
                transform: scale(0.95);
            }
        }
    }
}