@import '../../style/variables';
@import '../../style/mixins.scss';

.informationContainer {
    display: flex;
    padding: 6rem;
    align-items: center;

    .title{
        font-size: 4rem;
        color: $turquoise-color; 
        font-weight: 800; 
        text-shadow: 0.05rem 0.05rem 0.05rem $ligh-gray-color;
    }

    .description{
        width: 80%;
        margin-top: 2.5rem;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        line-height: 1.6rem;
        font-weight: 300;
    }
    .containerLeft{
        width: 50%;
    }
    .containerRight{
        width: 50%;
    }
}



   


