@import '../../style/variables';
@import '../../style/mixins';

.floatingButton {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2.5rem;
    left: 2.5rem;
    background-color: $turquoise-color;
    color: $white-color;
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    @include shadow($black-color, 0.2);

    &:hover {
        background-color: $white-color;
        color: $turquoise-color;
        border: solid 0.2rem $turquoise-color;
    }

    &:active {
        transform: scale(0.95);
    }
}

.formContainer {
    position: fixed;
    width: 70%;
    bottom: 50%;
    left: 10%;
    background-color: $white-color;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Asegúrate de que esté encima del botón flotante */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        margin-bottom: 0.2rem;
    }

    input {
        padding: 0.5rem;
        border: 1px solid $gray-color;
        border-radius: 0.25rem;
    }

    button {
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        background-color: $turquoise-color;
        color: $white-color;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background-color: $gray-color;
            color: $turquoise-color;
        }
    }
}
