@import '../../style/variables';
@import '../../style/mixins.scss';

.aboutUsContainer{
    text-align: center;
    margin: 0.5rem auto;
    width: 90%;

    .title{
        font-size: 2.5rem;
        color: $turquoise-color;
        font-weight: 800; 
        text-shadow: 0.05rem 0.05rem 0.05rem $ligh-gray-color;
        letter-spacing: 0.05rem;
    }

    .aboutDescription{
        margin-top: 2.5rem;
            font-size: 1.1rem;
            letter-spacing: 0.05rem;
            line-height: 1.6rem;
            font-weight: 300;
    }

    @include mediaQuery(small){

        .title{
            font-size: 2.1rem;
        }

        .aboutDescription{
            margin-top: 1rem;
            font-size: 1.1rem;
            letter-spacing: 0.05rem;
            line-height: 1.1rem;
            font-weight: 300;
            text-align: justify;

        }

    }

   
}

