@import '../../style/variables';
@import '../../style/mixins.scss';

.profileContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    .profileInformation {
        margin: 5rem 0;
        width: 80%;
        display: flex;
        gap: 2.1rem;

        .information {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 2.1rem;
            justify-content: center;

            .welcome {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.8rem;

                .profileTitle {
                    color: $turquoise-color;
                    font-size: 3.1rem;
                    font-weight: 700;
                }

                .welcomeInformation {
                    text-align: left;
                    font-size: 1.1rem;
                }

                .containerButton {
                    .searchButton {
                        margin-top: 0.2rem;
                        font-family: var(--font-principal);
                        background: none;
                        @include border-radius(0.5rem);
                        width: 30%;
                        padding: 0.7rem 2rem;
                        background-color: $turquoise-color;
                        border: none;
                        @include shadow($black-color, 0.1);
                        cursor: pointer;
                        color: $white-color;
                        font-weight: 600;
                        font-size: 1rem;
                        letter-spacing: 0.05rem;

                        &:active {
                            transform: scale(0.95);
                        }


                    }
                }
            }

            .tickets {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.6rem;

                .ticketTitle {
                    color: $turquoise-color;
                    font-size: 2.5rem;
                    font-weight: 700;
                }
            }
        }
    }

    .profileData {
        width: 30%;
        background-color: $white-color;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        padding: 1.5rem;
        @include border-radius(0.3rem);
        @include shadow($black-color, 0.2);

        .dataHeader {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            align-items: center;

            .imageUser{
                font-size: 5rem;
            }
        }

        .data {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            .iconInformation{
                display: flex;
                font-size: 0.9rem;

                .description{
                    margin-left: 0.9rem;
                }
            }
        }
    }


}