@import '../../style/variables.scss';
@import '../../style/mixins';

.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .formElement {
        width: 100%;

        .selectTown,
        .selectEPS {
            font-family: var(--font-principal);
            background-color: $background-modal;
            padding: 0.9rem;
            width: 100%;
            border: none;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            margin: 0.5rem 0;
            @include border-radius(0.3rem);
            @include shadow($black-color, 0.1);
        }

        .label {
            font-size: 1.1rem;
            letter-spacing: 0.05rem;
            font-weight: 300;
        }
    }

    .buttonSearch {
        font-family: var(--font-principal);
        background: none;
        padding: 1rem;
        background-color: $turquoise-color;
        border: none;
        cursor: pointer;
        color: $white-color;
        font-weight: 600;
        font-size: 1.2rem;
        width: 100%;
        letter-spacing: 0.05rem;
        @include border-radius(0.3rem);
        @include shadow($black-color, 0.1);
    }
}